<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2014 Intelligent Information Systems Group.
  ~
  ~ This file is part of AgE.
  ~
  ~ AgE is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AgE is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AgE.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hz="http://www.hazelcast.com/schema/spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.hazelcast.com/schema/spring
            http://www.hazelcast.com/schema/spring/hazelcast-spring-3.2.xsd">

	<hz:hazelcast id="hazelcast">
		<hz:config>
			<hz:properties>
				<hz:property name="hazelcast.logging.type">slf4j</hz:property>
				<!-- Let spring handle the shutdown. -->
				<hz:property name="hazelcast.shutdownhook.enabled">false</hz:property>
			</hz:properties>
			<hz:map name="discovery/members" max-idle-seconds="20" />
		</hz:config>

	</hz:hazelcast>

	<context:component-scan base-package="org.age"/>

	<bean id="eventBus"
	      class="com.google.common.eventbus.EventBus"/>

	<bean id="worker"
	      class="org.age.services.worker.internal.DefaultWorkerService"/>

	<bean id="status"
	      class="org.age.services.status.internal.DefaultStatusService"/>

	<bean id="console"
	      class="org.age.console.Console"/>
</beans>
