<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hz="http://www.hazelcast.com/schema/spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.hazelcast.com/schema/spring
            http://www.hazelcast.com/schema/spring/hazelcast-spring-3.2.xsd">

	<hz:hazelcast id="hazelcast">
		<hz:config>
			<hz:properties>
				<hz:property name="hazelcast.logging.type">slf4j</hz:property>
				<!-- Let spring handle the shutdown. -->
				<hz:property name="hazelcast.shutdownhook.enabled">false</hz:property>
			</hz:properties>
			<hz:map name="discovery/members" max-idle-seconds="20" />

		</hz:config>

	</hz:hazelcast>

	<context:component-scan base-package="org.age"/>

	<bean id="eventBus"
	      class="com.google.common.eventbus.EventBus"/>

	<bean id="worker"
	      class="org.age.services.worker.internal.DefaultWorkerService"/>
</beans>
